<!--Bottom nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark" style="height: 30px;">
        <h6 class="display-5 navbar-text" style="font-size: 10px;">©Copyright 2020. All Rights reserved.</h6>
    </nav>
  </footer>