<!--Bottom nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h5 class="display-5 navbar-text" style="font-size: 20px;">©Copyright 2020. All Rights reserved.</h5>
    </nav>
  </footer>