<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs')  %> 


<div class="float-container">
    
    </div><div class="float-child">
        <img class="image1" src="/assets/images/asset1.jpeg"/>
    </div>

    <div class="float-child1">
        <h3 class="welcome3">Honey Jayan</h3>
        <p class="para2">
            I'm Honey Jayan, from India. I've completed my bachelors in Information Security and Digital Forensics and currently I'm enrolled in the program Software Engineering Technician(Fast-Track). During my bachelors, I had a chance to learn programming and basics of software development and that's when I realised my interests in this field and hence chose this program. Other than this my intrests include drawing, graphic designing etc. 
        </p>
        <h4 class="wel3">More About Me</h4>
        <h5 class="wel4">Date of Birth : 25-05-2000</h5>
        <h5 id="wel41" class="wel4">Address       : 15 Poppy Place, Scarborough, ON</h5>
        <h5 class="wel4">Resume        : <a href="https://docs.google.com/document/d/1Ccen1BFLUEpthYmdo1UlRVnIzYN4Bf6Z/edit?usp=sharing&ouid=113273690498841827630&rtpof=true&sd=true">HoneyJayan_Resume</a></h5>
      
    </div>

<%- include('partials/bottom_nav.ejs')  %> 
  
<%- include('partials/footer.ejs')  %> 