<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs')  %> 

<div class="homediv">
  <h1 class="welcome1">
    Welcome to My Portfolio Website!!
  </h1>
  <div class="firstdiv">
    <p class="para1">Hello Visitor! This is my Portolio Website. My goal is to make a career in web development to get a job that I enjoy. I want to become a fullstack web developer by learning and building websites for more experience. Each day, I will spend at least one hour trying to learn a new concept or aspect of development so I can make daily improvements.
      You can know more about me in the <a href="about">About Me</a> Section.
    </p>
  </div>
</div>

  


<%- include('partials/bottom_nav.ejs')  %> 
  
<%- include('partials/footer.ejs')  %> 




