<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs')  %> 

<h4 class="welcome4">My Projects</h4>

<div class="div4">
    <p class="para4">
        IDNhunt: Detecting IDN Homographs using Python
    </p>
</div>

<div class="div5">
    <p class="para5">
        The Internationalized Domain Name(IDN) enables the use of domain names in local languages and scripts. IDN homograph attack is a way a malicious party may decieve computer users about what remote system they are communicating with, by exploiting the fact that many characters look alike. The objective of the project was to detect IDN Homograph URLs by identifying possible homographs and detecting them before visiting any phishing links. 
    
    </p>
</div>

<div class="div6">
    <img class="image2" src="/assets/images/Picture1.png"/>
</div>


<%- include('partials/bottom_nav.ejs')  %> 
  
<%- include('partials/footer.ejs')  %> 