<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs')  %> 

<h4 class="welcome5">My Services</h4>

<div class="div7">
    <h3 class="welcome9">Web Application development</h3>
    <p class="para6">
        Web application development is the creation of application programs that reside on remote servers and are delivered to the user's device over the Internet. A web application (web app) does not need to be downloaded and is instead accessed through a network.
    
    </p>
</div>

<div class="div8">
    <h3 class="welcome10">Penetration Testing</h3>
    <p class="para9">
        Penetration testing is also known as pen testing or ethical hacking. It describes the intentional launching of simulated cyberattacks that seek out exploitable vulnerabilities in computer systems, networks, websites, and applications.  
    
    </p>
</div>

<div class="div9">
    <h3 class="welcome11">Vulnerability Assessment</h3>
    <p class="para10">
        A vulnerability assessment is a systematic review of security weaknesses in an information system. It evaluates if the system is susceptible to any known vulnerabilities, assigns severity levels to those vulnerabilities, and recommends remediation or mitigation, if and whenever needed.

    </p>
</div>


<%- include('partials/bottom_nav.ejs')  %> 
  
<%- include('partials/footer.ejs')  %> 